@import url('https://fonts.googleapis.com/css?family=Fira+Sans+Condensed:300,300i,400,400i,500,500i,700,700i|Fira+Sans:300,300i,400,400i,500,500i,700,700i&display=swap&subset=cyrillic,cyrillic-ext,latin-ext');

html {
	font: 12px/1.5 "Fira Sans", Verdana, sans-serif;

	@include bp(mobile) {
		font-size: 14px;
	}

	@include bp(phone) {
		font-size: 12px;
	}

	@include bp(desktop) {
		font-size: 16px;
	}
}

body, form, table, input, textarea, option, select, button {
    font: inherit;
}

a {
	text-decoration: none;
	color: #369;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Fira Sans Condensed", sans-serif;
	line-height: 1.2;
	padding-bottom: 0.5em;
}

h1 { font-size: 2.8em; }
h2 { font-size: 2.2em; }
h3 { font-size: 1.8em; }
h4 { font-size: 1.4em; }
h5 { font-size: 1.2em; }
h6 { font-size: 1.0em; }






// html {
//     font-size: var(--font-size, 18px);
//     line-height: var(--font-line-height, 1.5);
//     font-family: var(--font-family-main, 'Verdana, sans-serif');
// }

// body, form, table, input, textarea, option, select, button {
//     font: inherit;
// }

// p, ul, ol {
//     padding-bottom: var(--layout-padding-b, 1.5em);
// }

// ul, ol {
//     padding-left: 2.5em;
// }


// li {
//     list-style-type: none; /* no bullets of the elements */
//     /* list-style-position: inside; bullets go inside the elements */
// }

// blockquote,
// h1, h2, h3, h4, h5, h6 {
//     font-family: var(--font-family-headings, var(--font-family-main));
// }

// h1, h2, h3, h4, h5, h6 {
//     padding-bottom: 0.5em;
//     padding-top: 1.5rem;
//     font-weight: normal;
// }


// blockquote {
//     padding: 0 2.5em;
//     border-left: 2px solid #000;
//     margin-bottom: var(--layout-padding-b, 1.5em);
//     font-family: Georgia, serif;
// }

// blockquote p {
//     font-style: italic;
// }

// blockquote p:last-child {
//     padding-bottom: 0;
// }

// blockquote p.author {
//     text-align: right;
// }