/* @import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital,wght@0,400;0,700;1,400;1,700&family=Fira+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap'); */

:root {
    --font-family-main: Georgia, serif;
    --font-family-headings: Palatino Linotype, serif;
    /* --font-family-headings: Fira Sans Condensed, sans-serif; */
    
    --font-size: 21px;
    --font-line-height: 1.5;

    --layout-width: 55em;
    --layout-padding-b: 2em;
}